@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-young-serif: var(--font-young-serif);
  --color-highlight: #EFFF42;
}

@variant dark (&:where(.dark, .dark *));

/* Smooth scrolling for the entire site */
html {
  scroll-behavior: smooth;
}


.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

